* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE SECTIONS */
body {
  color: #444;
  font-family: "Inter", sans-serif;
  color: #343a40;
  /* border-top: 10px solid rgb(255, 213, 0); */
  position: relative;
}

.container,
.container1 {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: rgb(255, 213, 0);
  padding: 20px 40px;
}

nav {
  font-size: 18px;
  /* text-align: center; */
}

article {
  /* margin-bottom: 60px; */
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: rgb(255, 213, 0);
  border-top: 5px solid #ff8100;
  border-bottom: 5px solid #ff8100;
  padding: 50px 40px;
}

h1 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

p {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}

li:last-child {
  margin-bottom: 0;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(even) {
  /* color: red; */
}

/* Misconception: this won't work! */
article p:first-child {
  color: red;
}

/* Styling links */
a:link {
  color: #343a40;
  text-decoration: none;
  padding: 16px;
}

a:visited,
a:visited {
  /* change background */
  background-color: #fff;
  color: #343434;
  font-weight: 500;
}

a:hover {
  color: #ff8100;
  font-weight: bold;
  text-decoration: underline #ff8100;
}

a:active {
  background-color: black;
  font-style: italic;
}
/* LVHA */

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  /* background-color: orangered;
    margin: 20px;
    padding: 20px;
    display: block; */

  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

h2 {
  position: relative;
}

/* FLEXBOX */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.test {
  border-radius: 5px;
}
.related-link:link {
  font-size: 16;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.main-header {
  grid-column: 1 / -1;
}

.news {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

article {
}

aside {
}

footer {
  background-color: rgb(255, 213, 0);
  grid-column: 1 / -1;
  margin-bottom: 48px;
  font-size: 14px;
}

/* --The team */

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

chair {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.chair-box {
  padding: 24px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  margin-bottom: 24px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #ff8100;
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

/* ansatt */
/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}

/* Some left and right padding inside the container */
.container1 {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
  padding: 0 16px;
}
/* .container1 h2 p {
  text-align: center;
} */
/* Clear floats */

.container1::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
